@{
}
<h2 style="margin-left: 32px;">Create New Project</h2>
<div class="containerOne my-5">
    <div class="task-form-container">
        <form asp-action="Create" method="post">
            <h2 class="form-title">Project Details</h2>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="project-number">Project Number</label>
                        <input type="text" id="project-number" name="projectNumber" class="form-control" placeholder="Enter project number">
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="project-name">Project Name</label>
                        <input type="text" id="project-name" name="projectName" class="form-control" placeholder="Enter project name">
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="address">Address</label>
                        <input type="text" id="address" name="address" class="form-control" placeholder="Enter address">
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="location">Location</label>
                        <input type="text" id="location" name="location" class="form-control" placeholder="Enter location">
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="country">Country</label>
                        <input type="text" id="country" name="country" class="form-control" placeholder="Enter country">
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="state">State</label>
                        <input type="text" id="state" name="state" class="form-control" placeholder="Enter state">
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="contractor">Contractor</label>
                        <input type="text" id="contractor" name="contractor" class="form-control" placeholder="Enter contractor">
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="project-awarded-from">Project Awarded From</label>
                        <input type="text" id="project-awarded-from" name="projectAwardedFrom" class="form-control" placeholder="Enter awarded from">
                    </div>
                </div>
            </div>

            <h2 class="form-title">Project Assignment</h2>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="precaster-fabricator">Precaster Fabricator</label>
                        <input type="text" id="precaster-fabricator" name="precasterFabricator" class="form-control" placeholder="Enter precaster fabricator">
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="structural-designer">Structural Designer</label>
                        <input type="text" id="structural-designer" name="structuralDesigner" class="form-control" placeholder="Enter structural designer">
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="architecture">Architecture</label>
                        <input type="text" id="architecture" name="architecture" class="form-control" placeholder="Enter architecture">
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="modelling-detailing-firm">Modelling/Detailing Firm</label>
                        <input type="text" id="modelling-detailing-firm" name="modellingDetailingFirm" class="form-control" placeholder="Enter modelling/detailing firm">
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="estimated-hours">Estimated Hours</label>
                        <input type="number" id="estimated-hours" name="estimatedHours" class="form-control" placeholder="Enter estimated hours">
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="budget">Budget</label>
                        <input type="number" id="budget" name="budget" class="form-control" placeholder="Enter budget">
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="hourly-rate">Hourly Rate</label>
                        <input type="number" id="hourly-rate" name="hourlyRate" class="form-control" placeholder="Enter hourly rate">
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="start-date">Start Date</label>
                        <input type="date" id="start-date" name="startDate" class="form-control">
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="estimated-end-date">Estimated End Date</label>
                        <input type="date" id="estimated-end-date" name="estimatedEndDate" class="form-control">
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="status">Status</label>
                        <input type="text" id="status" name="status" class="form-control" placeholder="Enter status">
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="project-manager">Project Manager</label>
                        <input type="text" id="project-manager" name="projectManager" class="form-control" placeholder="Enter project manager">
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="customer-id">Customer ID</label>
                        <input type="text" id="customer-id" name="customerId" class="form-control" placeholder="Enter customer ID">
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" id="description" name="description" class="form-control" placeholder="Enter project description">
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="document">Document</label>
                        <input type="text" id="document" name="document" class="form-control" placeholder="Enter document details">
                    </div>
                </div>
            </div>

            <div class="form-actions" style="display: flex; justify-content: center;">
                <button type="submit" class="btn btn-primary">Create Project</button>
                <button type="button" class="btn btn-secondary">Cancel</button>
            </div>
        </form>
    </div>
</div>
